.landingPage-container {
	width: 100%;
	height: auto;
	margin-top: -20px;
	padding: 15px;
	background-image: url('./bequia-island.png');
	background-position: center;
	background-position-y: 12em;
	background-repeat: no-repeat;
	background-size: 80%;
	z-index: 0;

	animation: fadeIn 2s ease-in forwards;
}
.falling-coconut {
	position: absolute;
	background-image: url('./coconut.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	z-index: 1;
	margin-top: 250px;
	margin-left: 190px;
	width: 50px;
	height: 50px;
	transform: rotate(20deg);
	animation: fallingCoconut-mobile 1.5s 3s ease-in forwards;
}

#landing-page-text {
	font-size: 20px;
	padding: 10px;
	margin-top: 35px;
	text-align: center;
	color: blue;
	opacity: 1;
	border-radius: 25px;
	z-index: 2;
	position: relative;
}
#landing-page-text-p {
	position: relative;
	margin-top: 325px;
	z-index: -1000;
}
#landing-page-text a {
	color: limegreen;
}
@media only screen and (min-width: 700px) {
	.landingPage-container {
		padding: 15px;
		height: 800px;
		background-position: left;
		background-position-y: 4em;
		background-position-x: 4em;
		background-size: 30%;
	}
	.falling-coconut {
		position: absolute;
		background-image: url('./coconut.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 50%;
		z-index: 1;
		margin-top: 230px;
		margin-left: 320px;
		width: 50px;
		height: 50px;
		transform: rotate(20deg);
		animation: fallingCoconut 1.5s 3s ease-in forwards;
	}

	.landingPage-content {
		flex-direction: row;
		justify-content: space-around;
	}
	#landing-page-text {
		float: right;
		text-align: right;
	}
	#landing-page-text-p {
		position: relative;
		float: right;
		margin-top: 20px;
		width: 75%;
	}
}
