.forum-search-content {
  width: 100%;
  margin-top: 75px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
.forum-search-content h2 {
  text-align: center;
}
#no-search-results-message {
  text-align: center;
  font-size: 20px;
}
.search-results-section {
  list-style: none;
  padding: 0px;
}

.search-section-title {
  margin-left: 0px;
  font-size: 25px;
}

.search-results-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-result-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid blue;
  padding: 10px;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 20px;
  width: 90%;
  height: auto;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}

.search-result-item p {
  margin: 0;
}
.post-icons p {
  margin-right: 10px;
}

@media only screen and (min-width: 700px) {
  .forum-search-content {
    width: 90%;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .forum-search-content ul {
    list-style: none;
  }
  .search-result-item {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 15px;
    font-size: 15px;
  }
}
