.home-page-container {
	width: 100%;
}
.home-page-content {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 700px) {
	.home-page-content {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
	#home-page-newest-post {
		width: 100%;
		margin-left: 25px;
	}
	#home-page-upcoming-events {
		width: 100%;
	}
}
