.thisWeek-container {
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
.thisWeek-content {
  padding: 10px;
  font-size: 18px;
 
}
.thisWeek-content h3 {
  text-align: center;
}
.event {
  width: 100%;
  height: auto;
  font-size: 16px;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 15px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  box-shadow: rgb(199, 199, 199) 0px 0px 30px 0px;
  background-color: #fff;
}
.event p {
  margin: 0;
  margin-top: 5px;
}

.event a {
  font-size: 18px;
  color: rgb(72, 155, 72);
  text-decoration: none;
}
.event:hover {
  background-color: #ffee00;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 700px) {
  .thisWeek-content {
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 15px 15px;
  }
  .thisWeek-content h3 {
    text-align: right;
  }
}
