.thisWeek-container {
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
.thisWeek-content {
  padding: 10px;
  font-size: 18px;
}
.thisWeek-content h3 {
  text-align: center;
}
.event {
  width: 100%;
  height: auto;
  font-size: 16px;
  border: 2px black solid;
  margin-bottom: 10px;
  padding: 15px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
.event p {
  margin: 0;
  margin-top: 5px;
}

.event a {
  font-size: 20px;
  color: green;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .thisWeek-content {
    margin-right: 20px;
  }
  .thisWeek-content h3 {
    text-align: right;
  }
  .event {
    font-size: 18px;
    flex-direction: column;
    background-color: white;
  }

  .event a {
    font-size: 20px;
  }
  .event a:hover {
    color: blue;
  }
}
