.create-post-container {
	width: 100%;
}
.create-post-content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
.category-pop-up-container {
	width: 100%;
}
.categoryPopUpForm {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}
.categoryPopUpForm input {
	cursor: pointer;
	transform: scale(2);
	margin: 10px;
}
.categoryPopUpForm label {
	vertical-align: middle;
	margin: 10px;
}
.create-post-content form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.create-post-content form input {
	width: 50%;
	height: 25px;
	margin: 10px;
	padding: 10px;
}
.create-post-content form select {
	width: 25%;
	height: 25px;
	margin: 10px;
	padding: 10px;
}
.create-post-content form textarea {
	width: 70%;
	height: 200px;
	margin: 10px;
}
.create-post-content form button {
	width: 50%;
	height: 35px;
	margin: 10px;
	cursor: pointer;
}
