.create-post-preview {
  width: 100%;
}
.create-post-preview span {
  display: flex;
  flex-direction: column;
}
.create-post-preview button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  background-color: blue;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}
@media only screen and (min-width: 700px) {
  .create-post-preview {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .create-post-preview span {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .create-post-preview button {
    width: 150px;
    font-size: 18px;
  }
}
