.events-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.events-container span {
	margin-bottom: 25px;
}
.events-container span a {
	font-size: 20px;
}
.events-content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.events-calendar {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media only screen and (min-width: 700px) {
	.events-container {
		padding: 20px;
	}
}
