.market-place-section-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation: moveRight 1s ease-in-out;
}
.market-place-section-content {
	width: 100%;
}
.market-place-section-content ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0;
}
.market-place-section-content ul li {
	width: 100%;
	height: auto;
	border-bottom: 1px solid black;
	padding: 15px;
	margin-bottom: 20px;
}
.market-place-section-content a {
	text-decoration: none;
}
@media only screen and (min-width: 700px) {
	.market-place-section-content ul {
		padding: 20px;
	}
}
