.dash-settings {
  background-color: #bada55;
  padding: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.profile-image-thumb {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.settings-toggle-tool-bar {
  display: flex;
  justify-content: space-around;

  width: auto;
}

#personal-info-toggle {
  width: 200px;
}

.personal-details-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 50px;
}
.personal-details-form input {
  margin-bottom: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  font-size: 18px;
}
.delete-account {
  display: flex;
  flex-direction: column;
}
#personal-info-wrapper {
  display: flex;
  flex-direction: column;
}
.toggle-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 50px;
}
.toggle-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 25px;
  cursor: pointer;
}
.toggle-container:hover input ~ .checkmark {
  background-color: #5593da;
}
.toggle-container input:checked ~ .checkmark {
  background-color: rgb(226, 164, 30);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.toggle-container input:checked ~ .checkmark:after {
  display: block;
}
.toggle-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.settings-form {
  display: flex;
  flex-direction: column;
}
