.market-place-container {
	width: 100%;
}
.market-place-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.market-place-listing {
	width: 50%;
	border: 1px solid black;
	padding: 20px;
}
.market-place-listing h4 {
	margin: 0;
}
.market-place-listing p{
    margin: 0;
}
