.market-place-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	animation: fadeIn 2s ease-in;
}

.market-place-content ul {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	list-style: none;
	padding: 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.market-place-content a {
	text-decoration: none;
}

.market-place-img {
	width: 175px;
}

.market-place-card {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.market-place-card-text {
	display: none;
	position: absolute;
	color: blue;
	font-size: 18px;
	text-align: center;
	width: 175px;
}

.market-place-card:hover .market-place-card-text {
	display: block;
	text-align: center;
}
.market-place-card:hover .market-place-img {
	opacity: 0.1;
}
@media only screen and (min-width: 700px) {
	.market-place-content ul {
		width: 100%;
		grid-template-columns: auto auto auto;
	}
}
