#weather-wrapper {
  height: auto;
  color: white;
  text-shadow: black 5px 15px 25px;
  border-radius: 25px;
  box-shadow: rgb(200, 200, 200) 0px 0px 40px 0px;
  background-color: #55dad3;
  grid-column: 1 / 1;
}
.weather-wrapper {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}
.weather-widget {
  padding: 25px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, mimax(150px, 1fr));
  font-size: 16px;
  margin: 0;
}
.weather-widget aside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.weather-widget span {
  margin: 10px;
}
.weather-widget h3 {
  margin: 0;
  font-size: 25px;
}
#weather-widget-p {
  margin: 0;
}
#change-unit {
  cursor: pointer;
  font-style: italic;
  font-size: 14px;
}

#weather-daily {
  width: auto;
  height: auto;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px;
}
.daily-weather {
  margin: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.daily-weather span {
  margin: 0;
}
