.events-calendar-container {
  margin: 0;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.calendar-content ul {
  list-style-type: none;
  margin: 0;
}
.month {
  padding: 15px;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.month ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.month ul li {
  color: blue;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#weekdays {
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

#weekdays li {
  color: #666;
  text-align: center;
}

#days {
  padding: 0;
  background: white;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7, 0.2fr);
  cursor: pointer;
}

#days li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#days li text {
  margin-top: 0;
}
.event-marker {
  width: 10px;
  height: 10px;
  border: 1px solid blue;
  border-radius: 20px;
  background-color: blue;
}
#calendar-legend-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-style: italic;
  font-size: 14px;
  margin-left: 20px;
  flex-direction: row;
}
#calendar-legend-container p {
  padding: 0;
  margin: 0;
}
.calender-legend {
  width: 10px;
  height: 10px;
  border: 1px solid blue;
  border-radius: 20px;
  background-color: blue;
  margin: 3px;
}

#days li.active {
  background: #ffee00;
  color: rgb(0, 0, 0) !important;
  border: 1px solid rgb(25, 0, 255);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#days li.currDay {
  background-color: limegreen;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 8, 255);
  margin-left: auto;
  margin-right: auto;
}
#next,
#prev {
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .events-calendar-container {
    border-bottom: none;
    border-right: 1px solid black;
  }
  .month {
    padding: 15px 25px;
  }
  .month ul li {
    letter-spacing: 3px;
  }

  #weekdays {
    width: 100%;
  }

  #days li {
    width: 100%;
    height: 50px;
  }
  .event-link {
    width: 100%;
    font-size: 14px;
  }
}
