.dashboard-user-post-card-item {
  width: 100%;
  height: auto;
  padding: 25px;
  border-bottom: 1px solid limegreen;
}
.dash-truncate h4 {
  text-align: center;
  margin: 0;
  padding: 0px;
}

.post-stats-wrapper {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.post-stats-wrapper span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 700px) {
  .dashboard-user-post-card-item {
    border: none;
    text-align: center;
  }
  .post-stats-wrapper {
    margin-top: 5px;
    width: 50%;
  }
}
