.dashboard-user-post-card-item {
  padding: 15px;
  background-color: rgb(245, 206, 97);
  border-radius: 50px;
  box-shadow: rgb(168, 168, 168) 10px 10px 20px;
  text-shadow: rgb(168, 168, 168) 10px 10px 20px;
  color: rgb(8, 8, 8);
  border: 10px solid rgb(112, 145, 35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  animation: fadeIn 0.7s ease-in forwards;
  width: auto;
  height: auto;
  
}

.dashboard-user-post-card-item h4 {
  margin: 0;
  letter-spacing: 0.1em;
}
.dashboard-user-post-card-item span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
.dashboard-user-post-card-item:hover {
  background-color: blue;
  color: white;
}

.dashboard-scroll-content div ul {
  flex: 1 1 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  width: 100%;
  display: flex;

  justify-content: flex-start;
  flex-wrap: wrap;
}
.dash-truncate h4 {
  text-align: center;
  margin: 0;
  padding: 0px;
}

.post-stats-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.post-stats-wrapper span {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 700px) {
  .dashboard-user-post-card-item {
    border: none;
    text-align: center;
  }
  .post-stats-wrapper {
    margin-top: 5px;
    width: 50%;
  }
}
