.jobs-container {
	text-align: center;
	animation: fadeIn 2s ease-in;
}

.jobs-content {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 1em;
	width: 100%;
	margin-top: 45px;
}
.job-card {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.job-cat-icon {
	cursor: pointer;
	width: 200px;
	height: auto;
}
.jobs-content a {
	text-decoration: none;
}

@media only screen and (min-width: 700px) {
	.jobs-container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}
	.jobs-content {
		grid-template-columns: auto auto auto;
		grid-gap: 0em;
		width: 100%;
		margin-top: 30px;
	}
	.job-card {
		width: 200px;
		height: auto;
		padding: 0px;
		text-align: center;
		margin-bottom: 20px;
	}
	.job-cat-icon {
		width: 100px;
		height: auto;
	}
	.job-card:hover {
		animation: grow 0.5s ease-in;
	}
}
