.jobs-container {
  text-align: center;
  margin-top: 80px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.jobs-content {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 50px 0px;
}
.job-card {
  padding: 20px;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: rgb(214, 214, 214) 0px 0px 30px 0px;
  margin-left: auto;
  margin-right: auto;
}
.job-card h3 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.job-card p {
  margin: 10px;
}
.job-cat-icon {
  cursor: pointer;
  width: 100px;
}
.jobs-content a {
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .jobs-container {
    margin-top: 50px;
  }
}
