.search-input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile-search form {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  z-index: 3;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
#search-input-error {
  font-size: 15px;
}
.mobile-search form input {
  border-radius: 50px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  margin: 10px;
}
#search-catagories {
  display: none;
}
.mobile-search form button {
  font-size: 18px;
  color: black;
  margin-left: -60px;
  z-index: 5;
  background: transparent;
  border: none;
}
@media only screeen and (min-width: 700px) {
}
