.forum-container {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
}
.forum-container h3 {
  text-align: center;
}
.forum-container button {
  width: 10%;
}
.forum-content {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sectionMenu {
  width: 100%;
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.section-menu-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  color: white;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius: 10px;
  animation: moveRight 1s ease-in-out;
}

@media only screen and (min-width: 700px) {
  .forum-container {
    margin-top: 20px;
  }
  .sectionMenu {
    width: 50%;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-column-gap: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-menu-link {
    width: 200px;
    animation: none;
  }
}
