.forum-container {
	font-size: 20px;
	text-align: center;
	animation: fadeIn 2s ease-in;
}
.forum-container h3 {
	text-align: center;
}
.forum-container button {
	width: 10%;
}
.forum-content {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sectionMenu {
	width: 100%;
	list-style: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section-menu-link {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: mediumblue;
	color: white;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	animation: moveRight 1s ease-in-out;
}

@media only screen and (min-width: 700px) {
	.sectionMenu {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 2em;
	}
	.section-menu-link {
		width: 300px;
		animation: none;
	}
}
