.not-found {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.not-found p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
