.directory-container {
	width: 100%;
	margin-bottom: 400px;
}
.directory-container h2 {
	text-align: center;
}
.directory-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.directory-listing h4 {
	padding: 0px;
	margin: 0px;
}
.directory-listing ul {
	list-style: none;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}
@media only screen and (min-width: 700px) {
	.directory-container {
		width: 100%;
	}
	.directory-container h2 {
		text-align: left;
		margin-left: 70px;
	}
	.directory-content {
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.directory-listing h4 {
		padding: 0px;
		margin: 0px;
	}
	.directory-listing ul {
		list-style: none;
	}
}
