.thumbnail-wrapper {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-items: center;
  margin: 20px;
  text-align: center;
}
.thumbnail-wrapper figure {
  margin: 0;
  
}
.thumbnail-wrapper figure img {
  object-fit: contain;
  width: 100%;
  height: auto;
  cursor: pointer;
}
