.forum-section-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
.forum-section-container h3 {
  text-align: center;
}

.forum-section-content ul {
  width: 90%;
  padding: 0px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.post-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid blue;
  padding: 10px;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 20px;
  height: auto;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}
.post-card-info {
  width: 100%;
}
.post-card-info a {
  text-decoration: none;
  margin: 0;
}
.post-card-info h4 {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 20px;
}
.post-teaser {
  display: none;
}
.post-card-user-info {
  line-height: 1.5em;
  bottom: 0;
}
.post-card-user-info p {
  margin: 0;
}
.post-card-icons {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}
.post-icons p {
  margin-right: 10px;
}

@media only screen and (min-width: 700px) {
  .forum-section-container {
    font-size: 18px;
    display: block;
    margin-top: 20px;
  }
  .forum-section-container h3 {
    margin-left: 100px;
    float: left;
  }

  .forum-section-content {
    padding: 25px;
  }
  .forum-section-content ul {
    margin-top: 90px;
  }
  .forum-loader {
    margin-top: 70px;
  }
  .error-message {
    text-align: center;
    margin-top: 100px;
  }
  .post-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 15px;
    font-size: 15px;
  }
  .post-card-info {
    width: 70%;
    bottom: 0;
  }
  .post-card-info a {
    text-decoration: none;
    margin: 0;
  }
  .post-card-info h4 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 20px;
  }
  .post-teaser {
    display: block;
  }
  .post-card-user-info {
    line-height: 1.5em;
    text-align: right;
  }
  .post-card-user-info p {
    margin: 0;
  }
  .post-card-icons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .post-icons p {
    margin-right: 10px;
  }
}
