.forum-section-container {
	width: 100%;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	animation: fadeIn 1s ease-in;
}
.forum-section-container h3 {
	text-align: center;
}

.forum-section-content ul {
	width: 100%;
	padding: 20px;
	list-style: none;
}
.forum-section-content li {
	border: 1px solid blue;
	border-radius: 10px;
	padding: 20px;
	margin: 0;
	margin-bottom: 20px;
	height: auto;
	font-size: 18px;
	line-height: 1.5em;
}
.post-info {
	line-height: 0.5em;
}
.post-icons {
	width: 20%;
	display: block;
	margin: 0px;
	padding: 0px;
}

@media only screen and (min-width: 700px) {
	.forum-section-container {
		font-size: 18px;
		display: inline;
	}
	.forum-section-container h3 {
		margin-left: 50px;
		float: left;
	}

	.forum-section-content {
		padding: 25px;
	}

	.forum-section-content li {
		padding-bottom: 0px;
		font-size: 16px;
	}
}
