.footer-container {
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding-top: 200px;
}
.footer-content {
	display: flex;
	justify-content: space-around;
}
.footer-content a {
	text-decoration: none;
	color: green;
}
