.footer-container {
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding-top: 200px;
}
.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.footer-content a {
	text-decoration: none;
	color: green;
	padding: 10px;
}
.footer-content a:hover {
	color: blue;
}
.footer-container p {
	padding: 10px;
}
@media only screen and (min-width: 700px) {
	.footer-content {
		flex-direction: row;
		justify-content: space-around;
	}
}
