.rental-page-container {
  width: 100%;
  margin-top: 70px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
.rental-page-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.rental-page-content h3 {
  margin: 0;
}
.rental-page-content h4 {
  margin: 0;
  margin-top: 10px;
}
.rental-page-content p {
  margin: 0;
  margin-top: 5px;
}
.rentals-booking-sites {
  list-style: none;
  margin: 0;
  padding: 0;
}

#rental-edit-buttons {
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .rental-page-content {
    font-size: 16px;
  }
}
