.rental-listing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.rental-listing-form section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.rental-listing-form input {
  width: 90%;
  height: 45px;
  font-size: 20px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 10px;
}
.rental-listing-form select {
  width: 90%;
  height: 45px;
  font-size: 20px;
  border: 1px solid black;
}
.rental-listing-form span {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.rental-listing-form span input {
  vertical-align: middle;
}
.react-phone-number-input__row {
  width: 115%;
}
.show-booking-label {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  font-size: 20px;
}
.hide-lable {
  display: none;
}
.booking-site-checkbox {
  -ms-transform: scale(0.5); /* IE */
  -moz-transform: scale(0.5); /* FF */
  -webkit-transform: scale(0.5); /* Safari and Chrome */
  -o-transform: scale(0.5); /* Opera */
  transform: scale(0.5);
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

.rental-listing-form textarea {
  width: 90%;
  height: 150px;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid black;
  font-size: 20px;
}
.rental-listing-form button {
  width: 90%;
  height: 45px;
  font-size: 20px;
  padding: 5px;
  margin-top: 25px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  background-color: blue;
  color: white;
  border-radius: 25px;
}
@media only screen and (min-width: 700px) {
  .rental-listing-form {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 25px;
  }
  .rental-listing-form input {
    width: 450px;
  }
  .react-phone-number-input__row {
    width: 96%;
    float: left;
  }
  input #rental-listing-form-airbnb .booking-site-checkbox {
    -ms-transform: scale(0.5); /* IE */
    -moz-transform: scale(0.5); /* FF */
    -webkit-transform: scale(0.5); /* Safari and Chrome */
    -o-transform: scale(0.5); /* Opera */
    transform: scale(0.5);
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    width: 50px;
  }

  .show-booking-label {
    font-size: 20px;
    margin-top: -10px;
  }
  .booking-site-input {
    margin-top: 0px;
    padding: 0;
  }
  .rental-listing-form button {
    width: 95%;
  }
}
