.job-section-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation: fadeIn 1s ease-in-out;
}
.job-section-content {
	margin-right: auto;
	margin-left: auto;
}
.job-section-ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.job-section-content ul li {
	width: 95%;
	border-radius: 30px 30px 30px 30px;
	box-shadow: grey 0px 2px 2px 2px;
	padding: 20px;
	margin: 0;
	margin-bottom: 20px;
	height: auto;
	font-size: 18px;
	line-height: 1.5em;
}
.job-section-content ul li a {
	text-decoration: none;
}
@media only screen and (min-width: 700px) {
	.job-section-container ul li {
		padding: 15px;
	}
}
