.newPost-container {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	animation: fadeIn 1s ease-in;
}

.newPost-container h3 {
	text-align: center;
	font-size: 25px;
}

.newest-posts {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid blue;
	border-radius: 25px;
	padding: 15px;
	padding-top: 0;
	margin-bottom: 20px;
	height: auto;
	font-size: 18px;
	line-height: 1.5em;
}
.newest-posts a {
	margin: 0;
	text-decoration: none;
}
.newest-posts a:hover {
	color: green;
}

@media only screen and (min-width: 700px) {
	.newPost-content {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
	}
	.newPost-container h3 {
		text-align: left;
		font-size: 20px;
		margin-top: 35px;
		margin-left: 75px;
	}
	.newest-posts {
		font-size: 16px;
	}
}
