.newPost-container {
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	direction: rtl;
	padding-left: 10px;
	padding-right: 10px;
}
.newPost-content h2 {
	direction: ltr;
}
.newest-posts {
	direction: ltr;
	width: 60%;
	height: auto;
	padding: 15px;
	font-size: 14px;
	float: left;
}
.posts a {
	margin: 0;
	text-decoration: none;
}
.posts a:hover {
	color: green;
}

.postInfo {
	padding: 10px;
	line-height: 5px;
}
