.logIn-page {
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: blue;
}
.logIn-container {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
.logIn-container h3 {
	color: white;
}
.logIn-container form {
	display: flex;
	flex-direction: column;
	border: 5px solid lightgreen;
	padding: 20px;
	background-color: yellow;
}
.logIn-container form input {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	font-size: 18px;
	padding: 5px;
}
.logIn-container form button {
	height: 35px;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
