* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
.App {
  margin: 0px;
  padding: 0px;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;

  animation: fadeIn 2s ease-in forwards;
}
