.siteNav {
  display: none;
}
@media only screen and (min-width: 700px) {
  .siteNav {
    width: 100%;
    display: block;
  }
  .siteNav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 0px;
  }

  .fa-search {
    cursor: pointer;
  }
  .fa-search:hover {
    color: blue;
  }
  .search-form-fadeOut {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: fadeOut 1s ease-in-out;
  }
  .search-container {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .search-form-fadeIn {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: fadeIn 0.5s ease-in;
  }
  #search-input-loader {
    height: 40px;
    margin-top: 9px;
  }
  #search-input-loader p {
    color: white;
    margin: 0px;
  }
  #search-input {
    width: 20rem;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
  }
  #search-input::placeholder {
    color: white;
  }
  #search-catagories {
    display: block;
    font-size: 16px;
    width: auto;
    height: 40px;
    margin-right: 10px;
    border: 1px solid white;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }
  #search-submit,
  #search-cancel {
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: limegreen;
  }
}
