/*top nav bar*/
.navBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;

  z-index: 1;
  background-color: transparent;
  height: auto;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
.forumLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.forumLogo img {
  width: 70px;
  padding: 10px;
  cursor: pointer;
}
.navBar h1 {
  font-size: 18px;
  margin: 0;
  color: white;
  text-shadow: limegreen 1px 1px;
}

.forumLogo a {
  text-decoration: none;
  margin-left: 5px;
}
.rightNavInfo {
  display: block;
  width: 100%;
  text-align: right;
}
.rightNavInfo a {
  font-size: 25px;
  text-decoration: none;
  color: yellow;
  margin-right: 15px;
}

@media only screen and (min-width: 700px) {
  .navBar {
    width: 100%;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
  }
  .navBar h1 {
    color: green;
  }
  .forumLogo img {
    width: 100px;
    padding: 0;
  }
  .rightNavInfo {
    width: 100px;
    font-size: 25px;
    line-height: 40px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .rightNavInfo p {
    margin: 5px;
  }

  .navBar ul li a {
    font-size: 16px;
    text-decoration: none;
    color: blue;
  }
  .navBar ul li p:hover {
    color: green;
    animation: grow 1s ease-in;
  }
}
