.navBar {
	width: 100%;
	background-color: lightgray;
	text-transform: uppercase;
}
.forumLogo img {
	width: 100px;
}
.navBar ul {
	padding: 10px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
}
.navBar ul li a {
	text-decoration: none;
	color: white;
}
.siteNav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.siteNav ul a {
	text-decoration: none;
	color: black;
}
