.create-event-container {
  width: 100%;
  margin-top: 80px;
}
.create-event-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.create-event-content form {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.create-event-content form input {
  width: 90%;
  height: 45px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}
.create-event-content form select {
  width: 90%;
  height: 45px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
}
.create-event-content form textarea {
  width: 90%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
#event-form-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-event-content button {
  cursor: pointer;
  width: 90%;
  margin: 10px;
  height: 45px;
  font-size: 20px;
  border: 1px solid black;
}
@media only screen and (min-width: 700px) {
  .create-event-container {
    width: 100%;
    margin-top: 20px;
  }
  .create-event-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .create-event-content form {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .create-event-content form input {
    width: 250px;
    height: 35px;
    font-size: 16px;
    text-align: center;
  }
  .create-event-content form select {
    width: 150px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
  }
  .create-event-content form textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }
  .create-event-content button {
    cursor: pointer;
    width: 200px;
    margin: 10px;
    height: 40px;
  }
  #event-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
