.mp-listing-form {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}
.mp-listing-form select {
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: 1px solid black;
}
.mp-listing-form input {
	width: 100%;
	height: 50px;
	font-size: 20px;
	padding: 10px;
	margin-top: 25px;
	text-align: center;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0px;
}
.mp-listing-form textarea {
	width: 100%;
	height: 200px;
	margin-top: 50px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid black;
}
.mp-listing-form button {
	width: 90%;
	height: 50px;
	padding: 10px;
	font-size: 20px;
	margin-top: 50px;
	cursor: pointer;
	border: 1px solid black;
	background-color: transparent;
}
@media only screen and (min-width: 700px) {
	.mp-listing-form {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 35px;
		margin-left: auto;
		margin-right: auto;
	}
	.mp-listing-form select {
		width: 100%;
		height: 35px;
		font-size: 16px;
		border: 1px solid black;
	}
	.mp-listing-form input {
		width: 100%;
		height: 35px;
		font-size: 16px;
		padding: 10px;
		margin-top: 25px;
		text-align: center;
		border: none;
		border-bottom: 1px solid black;
	}
	.mp-listing-form textarea {
		width: 100%;
		height: 200px;
		margin-top: 50px;
		padding: 10px;
		font-size: 16px;
		border: 1px solid black;
	}
	.mp-listing-form button {
		width: 30%;
		height: 35px;
		padding: 5px;
		font-size: 18px;
		margin-top: 15px;
	}
}
